<!DOCTYPE html>

<html> 


 

<head>

	<!--	<link  href="css/bootstrap.min.css" rel="stylesheet">-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"i>

		

    <title>Home Page</title> 

     

  

</head> 

 

<body class="" style="background-image:url('https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');"> 

		<div  class="text-info">
    <center>This is our home page.</center>

		</div>

		
	<div class="text-center " style="opacity:0" id="menu">

		

	<div class="  d-inline-flex flex-column align-items-center mt-5 bg-info p-5 shadow-lg rounded " >

		<div class="mb-2  ">	

	<button class="btn btn-light" onclick="registerUser();"> REGISTER USER </button>


		</div>

		<div class="mb-2">
	<button class="btn btn-warning" onClick="searchUser();"> SELECT A USER </button>

		</div>

		<div class="mb-2">
	<button class="btn btn-warning" onClick="searchAllUser();"> SELECT ALL USER </button>

		</div>

		<div class="mb-2">
	<button class="btn btn-success" onClick="updateUser();"> UPDATE A USER </button>

		</div>

		<div class="mb-2">
	<button class="btn btn-danger" onClick="deleteUser();"> DELETE A USER </button>


		</div>


		<div class="mb-2">
	<button class="btn btn-danger" onClick="deleteAllUser();"> DELETE ALL USER </button>

		</div>

	</div>
	</div>

</body> 



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



 <script>


	$(document).ready(function(){

		//	$("#menu").hide();			
		//	  $("#menu").fadeIn();
			
		//	 $("#menu").hide();

			setTimeout(function(){

					$("#menu").css({"opacity":"0.5"});

		


						

				}, 250);

			setTimeout(function(){

					$("#menu").css({"opacity":"1"});



				},750);


			
			 // $("#menu").fadeIn("slow");
			
		});


</script>

	<script>


	registerUser=()=>{


		
		window.location.href="registerUser";


		}


	searchUser=()=>{



		  window.location.href="searchUser";


			                }

	searchAllUser=()=>{



			                window.location.href="searchAllUser";


			                }

	updateUser=()=>{



			                window.location.href="updateUser";


			                }


	deleteUser=()=>{



			                window.location.href="deleteUser";


			                }

	deleteAllUser=()=>{



			                window.location.href="deleteAllUser";


			                }

</script>

</html>    


