<html>


	<form method="post" action="registerUser">


		<h1> NAME: </h1>
		
		<input type="text" name="username" placeholder="Enter your name">
		<input type="submit" value="submit">
	</form>

</html>
